.box{
    border-radius: 4px;
    height: 300px;
    width: 300px;
    margin: auto;

}
.contenedorInicio {
    grid-area: midLane;
    display: flex;
    max-width: 100vh;
    margin: auto;
    margin-bottom: 20px;
    background-color: black;
    justify-content: space-evenly;

    }

.contenedor {
    display: flex;
    max-width: 100vh;

}
.cajas {
    display: flex;
    max-width: 100vh;
    margin: auto;

}
.contenedorNoticias{
   max-width: 100%;
   text-align: -webkit-center;
   padding: 20px;
   .noticia{
       padding: 25px;
   }
}
.contenedorAnalisis{
    padding: 10px;
    .titulo{
        max-width: 100%;
    }
    .analisisJuegos{
        padding: 10px;
        @include d-flex;
    }
}
