.footer {
    /*seccion footer anclado*/
    display: grid;
    background-color: black;
    width: 100%;
    grid-area: footer;
    opacity: 0.8;
    @include mv (768px) {
        width: 100%;
    }


        .botoneraFooter {
            display: flex;
            flex-direction: row;
            align-items: center;
            .navbar{
                min-width: 100%;
            img{
                width: 25%;
                max-width: 25%;
                @include media-up (md){
                    max-width: 15%;
                @include mv(){
                    max-width: 30%;
                }
                }
            
            }
        }
    }
}