.footer {
    /*seccion footer anclado*/
    display: grid;
    background-color: black;
    width: 100%;
    grid-area: footer;
    opacity: 0.8;
    @include mv (768px) {
        width: 100%;
    }


        .botoneraFooter {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
