.header {
    /*encabezado entero*/
    display: grid;
    justify-items: center;
   /* background-image: url(../assets/chaosCardFondo.png);
    height: 50rem;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 6%, rgba(0,0,0,0) 13%, rgba(0,0,0,1) 100%);*/
    @include mv () {
        width: 100%;
        justify-items:normal;
    }
    .picture {
        width: 100%;

        .banner {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
            @include mv (768px) {
                width: 50%;
            }

            .botonera {
                /* Botonera*/
                display: inline-block;
                flex-wrap: nowrap;
                margin: 5px;
                border: 3px dashed;
                padding: 3px;
                margin-left: 5vh;
                color: yellow;

                &:hover {
                    background-color: yellow;
                    color: tomato;

                    @media all and (min-width: 768px) {
                        text-align: center;

                    }
                }
            }
        }
    }
}