.midLane {
    /* zonas de contenido*/
    @include mv () {
        width: 100%;
    }

    

    .destacadoInicio {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        @include mv (768px) {
            text-align: -webkit-center;
        }

        
        .tituloInicio {
            /* cualquier tipo de titulo*/
            font-size: 33px;
            color: rgb(226, 152, 16);
            padding: 20px;
            transition: all 250ms;
            @include d-flex;
            flex-direction: column;

            &:hover {
                transform: scale(1.1);

                @media all and (max-width: 768px) {
                    display: grid;
                    max-width: 100%;

                    @media all and (min-width: 768px) {
                        display: flex;
                        justify-content: center;

                        
                    }
                }
            }
        }
    }
}