@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;500;700&display=swap");
body {
  font-family: 'Spline Sans', sans-serif;
}

.fuente-bold {
  font-weight: 700;
}

.box {
  border-radius: 4px;
  height: 300px;
  width: 300px;
  margin: auto;
}

.contenedorInicio {
  grid-area: midLane;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vh;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .contenedorInicio {
    text-align: -webkit-center;
  }
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vh;
}

.cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vh;
  margin: auto;
}

.contenedorNoticias {
  max-width: 100%;
  text-align: -webkit-center;
  padding: 20px;
}

.contenedorNoticias .noticia {
  padding: 25px;
}

.contenedorAnalisis {
  padding: 10px;
}

.contenedorAnalisis .analisisJuegos {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header {
  /*encabezado entero*/
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    justify-items: normal;
  }
}

.header .picture {
  width: 100%;
}

.header .picture .banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .header .picture .banner {
    width: 50%;
  }
}

.header .picture .banner .botonera {
  /* Botonera*/
  display: inline-block;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 5px;
  border: 3px dashed;
  padding: 3px;
  margin-left: 5vh;
  color: yellow;
}

.header .picture .banner .botonera:hover {
  background-color: yellow;
  color: tomato;
}

@media all and (min-width: 768px) {
  .header .picture .banner .botonera:hover {
    text-align: center;
  }
}

.midLane {
  /* zonas de contenido*/
}

@media screen and (max-width: 480px) {
  .midLane {
    width: 100%;
  }
}

.midLane .productos {
  width: 10%;
}

.midLane .destacadoInicio {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 768px) {
  .midLane .destacadoInicio {
    text-align: -webkit-center;
  }
}

.midLane .tituloInicio {
  /* cualquier tipo de titulo*/
  font-size: 33px;
  color: #e29810;
  padding: 20px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.midLane .tituloInicio:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media all and (max-width: 768px) {
  .midLane .tituloInicio:hover {
    display: -ms-grid;
    display: grid;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) and (min-width: 768px) {
  .midLane .tituloInicio:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.imgJuegos {
  padding: 10px;
}

.imgJuegos img {
  max-width: 100%;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-img, .card-img-bottom, .card-img-top {
  height: -webkit-fill-available;
}

.footer {
  /*seccion footer anclado*/
  display: -ms-grid;
  display: grid;
  background-color: black;
  width: 100%;
  grid-area: footer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

.footer .botoneraFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.3rem;
  font-weight: 100;
  color: yellow;
  background-image: url(../assets/fondo.jpg);
  background-size: 50%;
  background-attachment: fixed;
}

body p {
  /*todos los parrafos dentro del body*/
  font-size: 2rem;
  text-align: center;
}

.chatSoporte {
  /*va a estar afuera de todo*/
  background-color: red;
  color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
}
/*# sourceMappingURL=estilos.css.map */